@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
@{
    if (this.User.IsInRole("Admin") || !this.User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    }
    else if (this.User.IsInRole("Owner") || !this.User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_OwnerLayout.cshtml";

    }
    else if (this.User.IsInRole("User") || !this.User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";

    }
    else if (this.User.IsInRole("Content Writer") || !this.User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_ContentWriterLayout.cshtml";

    }
}

<div class="container-xxl flex-grow-1 container-p-y">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    @if (!this.User.IsInRole("User") || !this.User.Identity.IsAuthenticated)
    {
        <partial name="_ManageNav" />

    }    <div class="col-xl ">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0"><i class='bx bxs-lock-open'></i> Change password</h5>
                <small class="text-muted float-end">Account Settings</small>
            </div>
            <div class="card-body">
                <form id="change-password-form" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Input.OldPassword" for="basic-default-fullname"></label>
                        <input type="text" class="form-control" asp-for="Input.OldPassword" id="basic-default-fullname" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Input.NewPassword" for="basic-default-fullname"></label>
                        <input type="text" class="form-control" asp-for="Input.NewPassword" id="basic-default-fullname" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" asp-for="Input.ConfirmPassword" for="basic-default-fullname"></label>
                        <input type="text" class="form-control" asp-for="Input.ConfirmPassword" id="basic-default-fullname" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button id="update-profile-button" type="submit" class="btn btn-primary">Update password</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
