@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@{
    if (this.User.IsInRole("Admin") || !this.User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    }
    else if (this.User.IsInRole("Owner") || !this.User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_OwnerLayout.cshtml";

    }
    else if (this.User.IsInRole("User") || !this.User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_UserLayout.cshtml";

    }
    else if (this.User.IsInRole("Content Writer") || !this.User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_ContentWriterLayout.cshtml";

    }
}
<div class="container-xxl flex-grow-1 container-p-y">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    @if (!this.User.IsInRole("User") || !this.User.Identity.IsAuthenticated)
    {
        <partial name="_ManageNav" />

    }
    <div class="col-xl ">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0"><i class='bx bxs-user'></i> Profile</h5>
                <small class="text-muted float-end">Account Settings</small>
            </div>            <div class="card-body">
                <form id="profile-form" enctype="multipart/form-data" method="POST">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="~/Images/@ViewData["profileImage"]"
                             alt="user-avatar"
                             class="d-block rounded"
                             height="100"
                             width="100"
                             id="uploadedAvatar" />
                        <div class="button-wrapper">
                            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Upload new photo</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file"
                                       id="upload"
                                       class="account-file-input"
                                       hidden
                                       asp-for="Input.ImageFile"
                                       accept="image/png, image/jpeg" />
                            </label>
                            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                <i class="bx bx-reset d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Reset</span>
                            </button>

                            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                    </div>
                    <hr class="my-0" />

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="firstName" asp-for="Username" class="form-label"></label>
                            <input class="form-control"
                                   type="text"
                                   id="firstName"
                                   name="firstName"
                                   asp-for="Username"
                                   disabled />
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="lastName" asp-for="Input.PhoneNumber" class="form-label"></label>
                            <input class="form-control" asp-for="Input.PhoneNumber" id="lastName" autofocus />
                        </div>

                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Save changes</button>
                    </div>
                </form>
            </div>
            <!-- /Account -->
        </div>
    </div>
</div>


        <script src="~/dashAssets/assets/js/pages-account-settings-account.js">

        </script>
        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
