@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";

}

<h4 class="mb-2 mt-3 d-flex justify-content-center font-monospace" style="color: #F28123">
    <i style="color: #F28123" class="bx bx-downvote bx-fade-down bx-md"></i>
    Forgot Password?
    <i style="color: #F28123" class="bx bx-downvote bx-fade-down bx-md"></i>
</h4>
<p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
<form id="formAuthentication" class="mb-3" method="POST">
    <div asp-validation-summary="All" style="color: #F28123"></div>

    <div class="mb-3">
        <label asp-for="Input.Email" class="form-label">Email</label>
        <input type="text"
               class="form-control"
               id="email"
               asp-for="Input.Email"
               placeholder="Enter your email"
               autofocus />
    </div>
    <button type="submit" class="btn btn-primary d-grid w-100">Send Reset Link</button>
</form>
<div class="text-center">
    <a asp-area="Identity" asp-page="/Account/Login" class="d-flex align-items-center justify-content-center">
        <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
        Back to login
    </a>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
